<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="confirmation.js" defer></script>
    <link rel="stylesheet" href="styles.css" />
    <script> var result = '<%=result%>'</script>
    <title>Payment Confirmation</title>
</head>
<body>        <!-- confirmation modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div id="modal-parent" class="modal-body">                                                
                        <div id="paymentSuccess">                              
                            <div class="paymentSuccessMsg">
                                <p>Thank you your payment was successful! You will receive an email soon with the order confirmation</p>
                            </div>
                        </div> 
                        <div id="paymentCancelled">                              
                            <div class="paymentCancelledMsg">
                                <p>You cancelled the payment. Would you like to continue with the order and select a different payment method?</p>
                            </div>
                        </div>
                        <div id="paymentError">                              
                            <div class="paymentErrorMsg">
                                <p>There was an error when the payment was being processed.</p>
                            </div>
                        </div>
                        <div id="paymentRefused">                              
                            <div class="paymentRefusedMsg">
                                <p>We could not process your payment. Please try a different payment method.</p>
                            </div>
                        </div>                                                
                    </div>
                </div>
            </div>
    
</body>
</html>